<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memory.io</title>

    <link rel="stylesheet" type="text/css" href="../../dist/css/layout_custom.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="../../dist/css/board.css" media="screen" />
</head>
<body>
    <main>
        <header class="board_header">
            <section class="board_header-player">
                <div class="board_header-player-group align-left">
                    <labe class="board_header-text-player">Jogador 1</labe>
                    <labe class="board_header-text-name">GuiZera</labe>
                </div>
                <div class="board_header-player-group a-left">
                    <labe class="board_header-text-pontuacao">8</labe>
                </div>
            </section>
            <section class="board_header-contador">
                0:30
            </section>
            <section class="board_header-player">
                <div class="board_header-player-group a-right">
                    <labe class="board_header-text-pontuacao">8</labe>
                </div>
                <div class="board_header-player-group align-right">
                    <labe class="board_header-text-player">Jogador 2</labe>
                    <labe class="board_header-text-name">Manente</labe>
                </div>
            </section>
        </header>
    </main>
</body>
</html>